* {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  margin: 0;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 500px;
}

ul {
  list-style-type: circle;
}

a {
  color: #000000;
}

a:hover {
  color: #666;
}

.navbar {
  width: 100%;
  height: 200px;
  background-color: #FFFFFF;
}

.nav-links {
  height: 60px;
  background-color: transparent;
  margin-top: 100px;
}
.nav-menu-link-bio {
  text-decoration: none;
  margin: 100px 100px;
}

.nav-menu-link-projects {
  text-decoration: none;
  margin: 100px 100px;
}

.nav-menu-link-contact {
  text-decoration: none;
  margin: 100px 100px;
}

.logo {
  background-size: 325px;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  background-position: center;
  z-index: 1000;
}

.container {
  width: 80%;
  height: 75%;
  background-color: #FFFFFF;
  padding: 2% 10% 2% 10%;
  position: relative;
}

.mission-statement {
  font-size: 1.4em;
  height: 40%;
  padding: 0 5%;
  width: 90%;
  text-align: center;
  background-color: #FFFFFF;
}

.featured-container {
  width: 840px;
  /*height: 300%;*/
  margin: 0 auto;
  background-color: #FFFFFF;
}

.featured-site {
  width: 270px;
  height: 328px;
  background-color: #000000;
  float: left;
  margin-right: 15px;
  text-decoration: none;
  box-shadow: 10px 10px 5px #ededed;
}

.featured-site:last-child {
  margin-right: 0;
}

.featured-image {
  width: 100%;
  height: 75%;
  background-color: #FFFFFF;
  background-size: 270px;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.featured-site:hover > .featured-image {
  opacity: 1.0;
}

.spinner {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  font-size: 1.6em;
  text-align: center;
  margin: 10px 0 0 43%;
}

.featured-title {
  text-align: center;
  height: 83px;
  background-color: #000000;
  font-size: 1.2em;
  color: #FFFFFF;
  padding-top: 2px;
}

.featured-image:hover + .featured-title, .featured-title:hover {
  color: #bababa;
}

.featured-site:hover > .spinner:hover {
  -ms-transform: rotate(30deg); /* IE 9 */
  -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
  transform: rotate(30deg);
}

.footer {
  height: 30%;
  width: 81%;
  border-top: solid #222;
  position: absolute;
  font-size: 0.8em;
  background-color: #FFFFFF;
  bottom: 7;
}

.copyright {
  float: left;
  text-align: left;
  width: 49%;
  color: #000000;
  font-size: 1.1em;
}

.contact {
  float: right;
  text-align: right;
  width: 49%;
}

@media screen and (max-width: 1054px) {
  .featured-container {
    width: 100%;
    height: 100%;
    margin-left: 3.5%;
  }

  .featured-site {
    width: 30%;
  }

  .featured-image {
    background-size: 109% 100%;
    background-position: center;
  }
}

@media screen and (max-width: 980px) {
  .featured-container {
    width: 100%;
    height: 92%;
    margin-left: 3.5%;
  }

  .featured-site {
    width: 30%;
    height: 250px;
  }

  .featured-image {
    background-size: 100% 120%;
    background-position: 0 0;
  }
}

@media screen and (max-width: 880px) {
  .featured-container {
    width: 100%;
    height: 360%;
    margin-left: 10.2%;
  }

  .featured-site {
    width: 80%;
    height: 400px;
    margin-bottom: 15px;
  }

  .featured-image {
    background-size: 100%;
    background-position: 0 0;
  }

  .featured-title {
    padding-top: 13px;
  }

  .spinner {
    margin: 5px 0 0 47.1%;
  }
}

@media screen and (max-width: 825px) {
  body {
    min-height: 450px;
  }
  .featured-container {
    width: 100%;
    height: 380%;
    margin-left: 10.2%;
  }
}

@media screen and (max-width: 530px) {
  body {
    min-height: 500px;
  }

  .featured-container {
    width: 100%;
    height: 245%;
    margin-left: 10.5%;
  }

  .featured-site {
    height: 25%;
    margin: 15px 0 35px 0;
  }

  .featured-image {
    background-size: 100%;
    background-position: 0 0;
  }

  .spinner {
    height: 28.7px;
    width: 28.7px;
    font-size: 1.32em;
    margin: 10px 0 0 46.1%;
  }
}

@media screen and (max-width: 410px) {
  body {
    min-height: 600px;
  }

  .logo {
    background-size: 60%;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-position: center;
  }

  .featured-container {
    height: 195%;
    margin-left: 10.2%;
  }

  .featured-site {
    height: 25%;
    width: 81%;
    margin: 15px 0 40px 0;
  }

  .featured-title {
    height: 40%;
  }

  .copyright {
    font-size: 1em;
  }

  span.contact > a {
    font-size: 0.9em;
  }

  .spinner {
    height: 24.9px;
    width: 24.9px;
    font-size: 1.2em;
    margin: 5px 0 0 46.1%;
  }
}
